header h1 a {
  color: #30604g;
  text-decoration: none;
}
body {
font-family: 'Source Sans Pro', sans-serif;
font-size: 18 px;
}
header {
border-bottom: 1 px solid #999;
margin-bottom: 2rem;
display: flex;
}

.nav-left {
margin-right:auto;
}

.nav-right {
display: flex;
padding-top: 2 rem;
}

.post-entry {
margin-bottom: 2rem;
}

.post-entry h2 {
margin: 0.5 rem 0 ;
}

.post-entry h2 a,
.post-entry h2 a:visited {
color: #687c75;
text-decoration: none;
}

.post-entry p {
margin:0 ;
font-weight:400;
}
.post-entry h2 a:hover {
color: #123025;
}
