h1 a, h2 a {
  font-family: 'Coiny', cursive;
}


body {
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753;

	margin: 0;
	padding: 0;
	}


h1, h2, h3, h4 {
    font-family: 'Coiny', cursive;
}

.page-header {
    background-color: #131313;
    content-bo
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #325050;
    font-size: 46pt;
    text-decoration: none;
}

.nav-right {
display: flex;
padding-top: 2rem;
}

.post-entry {
margin-bottom: 2rem;
}

.post-entry h2 {
margin: 0.5rem 0 ;
}

.post-entry h2 a,
.post-entry h2 a:visited {
color: #687c75;
text-decoration: none;
}

.post-entry p {
margin:0 ;
font-weight:400;
}
.post-entry h2 a:hover {
color: #123025;
}

a:link {
	font-weight: bold;
	text-decoration: none;
	color: #325050;
	}
a:visited {
	font-weight: bold;
	text-decoration: none;
	color: #325050;
	}
a:hover, a:focus, a:active {
	text-decoration: underline;
	color: #325050;
	}

.language{
    display: inline;
    margin-top: 6px;
}

.nav {
    display: block;
    padding-left: 200px;
}

a[data-property] {
		position: relative;
		float: left;
		width: 150px;
		height: 150px;
		box-sizing: border-box;
		margin: 0 15px 30px;
		background: slategray;
		color: white;
		font-size: 60px;
		line-height: 150px;
		text-align: center;
		counter-increment: demo;
		outline-color: transparent;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
    font-size: x-small;
  margin-bottom: .05rem;

}

.card-text-date {
    padding: 5px;
    font-size: 8px;
    text-align: right;

}

.card-text {

}

.skill {

    position: relative;
    float: left;
    width: 450px;
    height: 400px;
    box-sizing: border-box;
    margin:  5px 5px 5px 5px;
     background-color: #e9ecef;
    color: #212529;
    font-size: 18px;
    text-align: center;
    outline-color: transparent;

}