h1 a, h2 a {
  font-family: 'Coiny', cursive;
}


body {
    padding-left: 15px;
    /* -moz-transform: scale(1.1); /* for Firefox, default 1*/
    /* zoom:110%; /* For Chrome, IE, default 100%*/ */ */
}

/* header {
border-bottom: 1 px solid #999;
margin-bottom: 2rem;
display: flex;
} */

h1, h2, h3, h4 {
    font-family: 'Coiny', cursive;
}

.page-header {
    background-color: #243d0e;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 46pt;
    text-decoration: none;
}

.nav-right {
display: flex;
padding-top: 2 rem;
}

.post-entry {
margin-bottom: 2rem;
}

.post-entry h2 {
margin: 0.5 rem 0 ;
}

.post-entry h2 a,
.post-entry h2 a:visited {
color: #687c75;
text-decoration: none;
}

.post-entry p {
margin:0 ;
font-weight:400;
}
.post-entry h2 a:hover {
color: #123025;
}
