{% extends 'base.html' %}

{% load i18n %}

{% block content %}


    <h1>Michalina Andrzejewska</h1>
    <p>{% trans "Aspiring programmer" %}</p>



    <!-- Introduction-->

    <p>
        {% trans "I thought I could be a great medical doctor. I still think, I could. I believe though I could be an even better programmer." %}
    </p>


    <hr>

    <h2><a style="color:#243d0e" href="https://github.com/andrmich">
        <img src ="/static/img/GitHub-Mark-32px.png">GitHub</a></h2>
    {#				<a href="#"><img src="img/re.png" class="grid-2"></a>#}
    {#				<a href="#"><img src="img/re.png" class="grid-2"></a>#}
    {#				<a href="#"><img src="img/re.png" class="grid-2"></a>#}
    {#				<a href="#"><img src="img/re.png" class="grid-2"></a>#}
    {#				<a href="#"><img src="img/re.png" class="grid-2"></a>#}
    </div>
    </section>
{% endblock content %}
