{% load static i18n %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href='{% static 'css/base.css' %}' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Coiny|Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


    <link rel="icon" href='{% static 'img/favicon.ico' %}'/>
    <title>{% trans "Code all day long!" %}</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<div>

<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white"<a href="{% url 'home' %}">{% trans "Code all day long!" %}</a></h4>
        <h1 class="text-white">Michalina Andrzejewska</h1>
    <p class="text-white">{% trans "Aspiring programmer" %}</p>
          <p class="text-muted">{% trans "I thought I could be a great medical doctor. I still think, I could. I believe though I could be an even better programmer." %} </p>
        <form class="language" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input type="hidden" name="next" value="{{ redirect_to }}">
                <select name="language">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}
                                selected {% endif %}>
                            {{ language.name }}
                        </option>
                    {% endfor %}
                <input type="submit" class="hamburger" value="Go"/>
                </select>
             </form>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
{#          <h4 class="text-white">{% trans 'Contact' %}</h4>#}
          <ul class="list-unstyled">
            <li><a href="{% url 'home' %}" class="text-white">{% trans "Home" %}</a></li>
            <li><a  href="{% url 'skill' %}" class="text-white">{% trans "Skills" %}</a></li>
            <li><a href="https://github.com/andrmich" class="text-white">GitHub</a></li>
              <li><a  href="{% url 'email' %}" class="text-white">{% trans "Contact me" %}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center">
{#        <img src="static/img/favicon.ico" height="20" width="20"/>#}
        <strong>Greengrapes</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
<div class="container-fluid">
    <!--{% if user.is_authenticated %}
      <p>Hi {{user.username}}!</p>
      <p><a href="{% url 'logout' %}">Log out</a> </p>
      <div class="nav-right">
        <a href="{% url 'post_new' %}">+ New Blog Post</a>
      {% else %}
        <h2>{% trans "Hi! Welcome to my blog! " %}</h2> -->
        <!-- <p>You are not logged in.</p>
      <a href="{% url 'login' %}">Log In</a> -->
        <!-- {% endif %} -->
    {% block content %}
    {% endblock content %}

</div>
</body>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p>New to Bootstrap? <a href="{{ site.url }}/">Visit the homepage</a> or read our <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer>



{##}
{#    <header>#}
{#        <div class="page-header">#}
{#            <h1>/h1>#}
{#        </div>#}
{#    </header>#}
{##}
{##}
{#    <ul class="nav nav-pills">#}
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="{% url 'home' %}">Home</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="{% url 'skill' %}">Skills</a>#}
{#        </li>#}
{##}
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="{% url 'about' %}">About me</a>#}
{#        </li>#}
{#        <li  class="language">#}
{#             <form class="language" action="{% url 'set_language' %}" method="post">{% csrf_token %}#}
{#                <input type="hidden" name="next" value="{{ redirect_to }}">#}
{#                <select name="language">#}
{#                    {% get_current_language as LANGUAGE_CODE %}#}
{#                    {% get_available_languages as LANGUAGES %}#}
{#                    {% get_language_info_list for LANGUAGES as languages %}#}
{#                    {% for language in languages %}#}
{#                        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}#}
{#                                selected {% endif %}>#}
{#                            {{ language.name }}#}
{#                        </option>#}
{#                    {% endfor %}#}
{#                <input type="submit" class="hamburger" value="Go"/>#}
{#                </select>#}
{#             </form>#}
{#        </li>#}
{#    </ul>#}

{#<footer>#}
{#     Design Credits: <a target="_blank" href="https://www.vecteezy.com">www.Vecteezy.com</a>#}
{#</footer>#}
{#</html>#}
