{% extends 'base.html' %}
{% load static %}

{% load static i18n %}

{% block content %}

    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">{% trans "Skills" %}</h1>
                <p class="lead text-muted">{% trans "All tutorials, books, workshops..." %}</p>
                {#      <p>#}
                {#        <a href="#" class="btn btn-primary my-2">Main call to action</a>#}
                {#        <a href="#" class="btn btn-secondary my-2">Secondary action</a>#}
                {#      </p>#}
            </div>
        </section>

        {% for skill in skill_list %}
<div class="skill">


                <h3 class="card-text">{{ skill.title ss}}</h3>
                <p class="card-text">{{ skill.body | safe }}</p>
                <p class="card-text-date">{{ skill.date }}</p>


                </div>

{% endfor %}

    </main>



{% endblock content %}
